* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.title {
  padding-top: 16px;
  background-color: #3296fa;
  height: 48px;
  line-height: 48px;
}
.title .van-nav-bar__title {
  font-size: 16px;
  color: white;
}
