* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  background-color: #f5f7f9;
}
.title {
  padding-top: 16px;
  background-color: #3296fa;
  height: 96px;
  line-height: 96px;
}
.title .van-nav-bar__title {
  font-size: 32px;
  color: white;
}
